<%= form_with(model: problem) do |form| %>
  <% if problem.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(problem.errors.count, "error") %> prohibited this problem from being saved:</h2>

      <ul>
        <% problem.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :message, style: "display: block" %>
    <%= form.text_area :message %>
  </div>

  <div>
    <%= form.label :err_class, style: "display: block" %>
    <%= form.text_field :err_class %>
  </div>

  <div>
    <%= form.label :environment, style: "display: block" %>
    <%= form.text_field :environment %>
  </div>

  <div>
    <%= form.label :first_notice_at, style: "display: block" %>
    <%= form.datetime_field :first_notice_at %>
  </div>

  <div>
    <%= form.label :last_notice_at, style: "display: block" %>
    <%= form.datetime_field :last_notice_at %>
  </div>

  <div>
    <%= form.label :notices_count, style: "display: block" %>
    <%= form.number_field :notices_count %>
  </div>

  <div>
    <%= form.label :resolved_at, style: "display: block" %>
    <%= form.datetime_field :resolved_at %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
