<div id="<%= dom_id problem %>">
  <p>
    <strong>Message:</strong>
    <%= problem.message %>
  </p>

  <p>
    <strong>Err class:</strong>
    <%= problem.err_class %>
  </p>

  <p>
    <strong>Environment:</strong>
    <%= problem.environment %>
  </p>

  <p>
    <strong>First notice at:</strong>
    <%= problem.first_notice_at %>
  </p>

  <p>
    <strong>Last notice at:</strong>
    <%= problem.last_notice_at %>
  </p>

  <p>
    <strong>Notices count:</strong>
    <%= problem.notices_count %>
  </p>

  <p>
    <strong>Resolved at:</strong>
    <%= problem.resolved_at %>
  </p>

</div>
